window {
    margin: 0px;
    border-radius: 30px;
    border: 2px solid transparent;
    background:
         linear-gradient(#282a36, #282a36) padding-box,
   	 linear-gradient(to bottom, #33ccff, #00ff99) border-box;
   	 display: flex;
   	 justify-content: center;
}

#input {
    margin: 10px;
    border: none;
    color: #FFFFFF;
    background-color: #44475a;
    border-radius: 30px;
}

#input > image.left {
    -gtk-icon-transform:scaleX(0);
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: #282a36;
    border-radius: 30px;
}

#outer-box {
    margin: 15px;
    border: none;
    background-color: #282a36;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    /* margin-left: 30px; */
    border: none;
    color: #33ccff;
} 

#scroll {
    display: flex;
    justify-content: center;
}

#entry:selected {
    background-color: #44475a;
    border-radius: 20px;
    outline: none;
}

#entry:selected * {
    background-color: #44475a;
    border-radius: 20px;
    outline: none;
    text-align: center;
}

#text:selected {
	color: #00ff99;
}

#input:focus {
	border: 2px solid transparent;
	box-shadow: none;
	background:
		linear-gradient(#44475a, #44475a) padding-box,
		linear-gradient(to bottom, #33ccff, #00ff99) border-box;
}
